body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
canvas {
    display: block;
}
  
.App {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

@keyframes glow {
0% {
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 90px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
    }
100% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 60px #ff0000, 0 0 80px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000, 0 0 200px #ff0000;
    }
}
  
.space-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 10vw;
    color: #ffffff;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: glow 1.5s infinite alternate;
}
  
.space-text-small {
    font-size: 5vw;
    top: 40%;
}
  