/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


nav {
    -webkit-clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);
    clip-path: polygon(0 0, 97% 0, 100% 30%, 100% 100%, 3% 100%, 0 69%);
   
}

nav a.active, a:hover{
    text-shadow: #eae8e0 1px 0 10px;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background:black !important;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(252,252,255,1) 49%, rgba(0,0,0,1) 100%);
    border-radius: 10px;
    height: 10px;
  }  

  